.title-h1 {
    color: black;
}
#offline-message {
    display: none;
    background-color: #f2dede;
    color: #a94442;
    padding: 15px;
    text-align: center;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  h1.title-h1 {
    text-align: center;
}
.rojo{
    color:red;
    font-size: 50px;
}
.verde{
    color:#00d400;
    font-size: 50px;
}